{% extends "base.html" %}
{% load static %}
{% url 'shop:login' %}
{% url 'shop:logout' %}
{% block content %}

<!-- Hero Section -->
{% load static %}

<section style="
    width:100vw;
    height:500px;
    background-image:url('{% static "images/Black Myth Wukong ۳۱.jpeg" %}');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    margin-right:calc(-50vw + 50%);
    margin-left:calc(-50vw + 50%);
">
<br>
<br>

    <h1 style= 
        "color:rgb(255, 255, 255);
        font-size:4rem;
        font-weight:bold;
        text-shadow:2px 2px 10px rgba(0,0,0,0.7);""
    >
        اینجا فروشگاه من است
    </h1>

    <p style="
        color:white;
        font-size:1.3rem;
        text-shadow:2px 2px 10px rgba(0,0,0,0.7);
    ">
        اینجا همه چی حراجه!
    </p>

</section>

<h2 class="text-center mb-4">محصولات</h2>

<div class="row g-4">

{% for item in products %}

<div class="col-md-3">
    <div class="card h-100 shadow-sm position-relative">

        {% if item.is_sale %}
        <span class="badge bg-danger position-absolute top-0 start-0 m-2">
            تخفیف ویژه
        </span>
        {% endif %}

        {% if item.picture %}
        <img src="{{ item.picture.url }}" class="card-img-top"
             style="height:200px; object-fit:cover;">
        {% endif %}

        <div class="card-body text-center">

            <h5>{{ item.name_product }}</h5>

            <div class="mb-2">
                {% with ''|center:item.star as range %}
                    {% for _ in range %}
                        <span class="text-warning">★</span>
                    {% endfor %}
                {% endwith %}
            </div>

            <p class="text-muted">{{ item.description|truncatechars:50 }}</p>

            {% if item.is_sale %}
                <del class="text-danger">{{ item.price }} تومان</del><br>
                <strong class="text-success">{{ item.sale_price }} تومان</strong>
            {% else %}
                <strong>{{ item.price }} تومان</strong>
            {% endif %}

        </div>
    </div>
</div>

{% empty %}
<h4 class="text-center text-danger">هیچ محصولی وجود ندارد</h4>
{% endfor %}

</div>

{% endblock %}